@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.banner {
  background: rgb(3, 171, 235);
  background: linear-gradient(
    180deg,
    rgba(3, 171, 235, 1) 0%,
    rgba(0, 118, 163, 1) 100%
  );
}

.transition {
  transition: all 0.1s ease-in-out;
}


button{
  display: inline-block;
  position: relative;
  color: #03ABEB;
  cursor: pointer;
  background: #fff;
  border-radius: 4px;
  height: 300px;
}
span{
  display: block;
  padding: 25px 80px;
}
button::before, button::after{
  content:"";
  width: 0;
  height: 4px;
  position: absolute;
  transition: all 0.2s linear;
  background: #03ABEB;
}

span::before, span::after{
  content:"";
  width:4px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #03ABEB;
  border-radius: 4px;

}
button:hover::before, button:hover::after{
  width: 100%;
}
button:hover span::before, button:hover span::after{
  height: 100%;
}

/*----- button 1 -----*/
.btn-1::before, .btn-1::after{
  transition-delay: 0.2s;
}
.btn-1 span::before, .btn-1 span::after{
  transition-delay: 0s;
}
.btn-1::before{
  right: 0;
  top: 0;
}
.btn-1::after{
  left: 0;
  bottom: 0;
}
.btn-1 span::before{
  left: 0;
  top: 0;
}
.btn-1 span::after{
  right: 0;
  bottom: 0;
}
.btn-1:hover::before, .btn-1:hover::after{
  transition-delay: 0s;
}
.btn-1:hover span::before, .btn-1:hover span::after{
  transition-delay: 0.2s;
}
