@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: 'Anton';
}

.banner {
  background: rgb(3, 171, 235);
  background: linear-gradient(180deg,
      rgba(3, 171, 235, 1) 0%,
      rgba(0, 118, 163, 1) 100%);
}

.transition {
  transition: all 0.1s ease-in-out;
}


.largeBtn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: #fff;
  border-radius: 4px;
  height: 300px;

  span {
    display: block;
    padding: 25px 80px;
  }
}

.hoverScale {
  @apply transform hover:scale-102 transition;
}