@import 'material-icons/iconfont/material-icons.css';
@import "@fontsource/anton";
@tailwind base;
@tailwind components;
@tailwind utilities;

.borderRed {
  border: 1px solid red;
}
.borderBlue {
  border: 1px solid blue;
}
.borderGreen {
  border: 1px solid green;
}
.borderYellow {
  border: 1px solid yellow;
}
.borderOrange {
  border: 1px solid orange;
}
.borderPurple {
  border: 1px solid purple;
}
.borderPink {
  border: 1px solid pink;
}

h1 {
  font-family: 'Anton', sans-serif;
}

body {
  @apply bg-wearecrewLightGrey text-wearecrewDarkestGrey;

}

hr {
  @apply w-full border border-wearecrewBlue rounded-full;
}

.transition {
  @apply transition-all ease-in-out duration-300;
}


.banner {
  background: rgb(3, 171, 235);
  background: linear-gradient(180deg,
  rgba(4, 171, 235, 1) 40%,
      rgba(44, 66, 88, 1) 110%);
}

.bannerText {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.transition {
  transition: all 0.1s ease-in-out;
}


.largeBtn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: #fff;
  border-radius: 4px;
}

.hoverScale {
  @apply transform hover:scale-102 transition;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}




.radio_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #03ABEB;
  height: 50px;
  border-radius: 9999px;
  box-shadow: inset 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0.15);


  input[type="radio"] {
    appearance: none;
    display: none;
  }

  label {
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    height: auto;
    text-align: center;
    padding: 0 10px;
    border-radius: 9999px;
    overflow: hidden;
    transition: linear 0.3s;
    color: #fff;
    cursor: pointer;
    font-weight: 900;
  }


   input[type="radio"]:checked+label {
    color: #f1f3f5;
    transition: 0.3s;
  }

} 


.checkbox_and_radio_container_filter {

  input[type="radio"] {
    appearance: none;
    display: none;
  }
  input[type="checkbox"] {
    appearance: none;
    display: none;
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    height: auto;
    text-align: left;
    padding: 0 10px;
    overflow: hidden;
    transition: linear 0.3s;
    cursor: pointer;

  }


   input[type="radio"]:checked+label::before {
    transition: 0.3s;
    // @apply border-2 border-wearecrewBlue;
    content: "☑   ";
    @apply text-wearecrewBlue text-[28px] -ml-[1px] h-[28px] flex items-center font-thin;
  }
   input[type="checkbox"]:checked+label::before {
    transition: 0.3s;
    // @apply border-2 border-wearecrewBlue;
    content: "☑   ";
    @apply text-wearecrewBlue text-[28px] -ml-[1px] h-[28px] flex items-center font-thin;
  }
   input[type="radio"]+label::before {
    transition: 0.3s;
    // @apply border-2 border-wearecrewBlue;
    content: "◯   ";
    @apply text-wearecrewBlue text-[20px] font-bold;
  }
   input[type="checkbox"]+label::before {
    transition: 0.3s;
    // @apply border-2 border-wearecrewBlue;
    content: "▢   ";
    @apply text-wearecrewBlue font-bold text-[21px] h-[28px] flex items-center;
  }

} 

.checkbox_and_radio_container_filter_pills {

  input[type="radio"] {
    appearance: none;
    display: none;
  }
  input[type="checkbox"] {
    appearance: none;
    display: none;
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    height: auto;
    text-align: left;
    padding: 0 10px;
    overflow: hidden;
    transition: linear 0.3s;
    cursor: pointer;

  }


   input[type="radio"]:checked+label::before {
    transition: 0.3s;
    // @apply border-2 border-wearecrewBlue;
    content: "";
    @apply text-wearecrewBlue text-2xl font-thin;
  }
   input[type="checkbox"]:checked+label::before {
    transition: 0.3s;
    // @apply border-2 border-wearecrewBlue;
    content: "";
    @apply text-wearecrewBlue text-[28px] -ml-[1px] h-[28px] flex items-center font-thin;
  }
 

} 

select:focus {
  outline: none;
}

::-webkit-file-upload-button { cursor:pointer; }

.styledList {

  input,
  textarea,
  select {
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    display: block;
    border: none;
    border-bottom: 1px solid #03ABEB;
    // border-top: 1px solid #03ABEB;
    border-radius: 5px;

  }

  input:focus {
    outline: none;
  }

  textarea:focus {
    outline: none;
  }

  /* LABEL ======================================= */
  label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  /* active state */
  input:focus~label,
  input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #03ABEB;
  }

  textarea:focus~label,
  textarea:valid~label {
    top: -20px;
    font-size: 14px;
    color: #03ABEB;
  }

  /* BOTTOM BARS ================================= */
  .bar {
    position: relative;
    display: block;
  }

  .bar:before,
  .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #03ABEB;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  .bar:before {
    left: 50%;
  }

  .bar:after {
    right: 50%;
  }

  /* active state */
  input:focus~.bar:before,
  input:focus~.bar:after {
    width: 50%;
  }

  textarea:focus~.bar:before,
  textarea:focus~.bar:after {
    width: 50%;
  }

  /* HIGHLIGHTER ================================== */
  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  /* active state */
  input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }

  textarea:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }

  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
    from {
      background: #03ABEB;
    }

    to {
      width: 0;
      background: transparent;
    }
  }

  @-moz-keyframes inputHighlighter {
    from {
      background: #03ABEB;
    }

    to {
      width: 0;
      background: transparent;
    }
  }

  @keyframes inputHighlighter {
    from {
      background: #03ABEB;
    }

    to {
      width: 0;
      background: transparent;
    }
  }

}

.chb {
  visibility: hidden;
  margin-left: 8px;
}

.chb + label {
  position: relative;
  padding-left: 5px;
  padding-top: 3px;
  cursor: pointer;
}

.chb-3 + label::before {
  position: absolute;
  left: -20px;
  top: 4px;
/*   text-align: center; */
  
  border: 2px solid #03ABEB;
  content: " ";
  width: 16px;
  height: 16px;
  transition: all 0.1s ease-in,  border-color 0.05s ease-in;
}

.chb-3:checked + label::before {
  transform: rotate(40deg);
  border-top-color: transparent;
  border-left-color: transparent;
  
  top: 2px;
  left: -15px;
  width: 7px;
  height: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tooltipPhone {
  display: inline;
  position: relative;
  cursor: pointer;
  top: 5px;
}
.tooltipPhone:hover:after{
  position: absolute;
  bottom: -150px;
  -webkit-justify-content: center;
  justify-content: center;
  background: #484848;
  border-radius: 8px;
  color: #fff;
  content: "UK | 0044 - Remove first 0 and add 0044 \A eg. 077123 45678   becomes   0044 77 123 45678  \A\A IE | 00353  - Remove first 0 and add 00353 \A eg. 087123 45678  becomes   00353 87 123 45678";
  white-space: pre;
  margin: -82px auto 0;
  font-size: 16px;
  padding: 13px;
  width: 420px;
}

.tooltipDept {
  display: inline;
  position: relative;
  cursor: pointer;
  top: 5px;
}
.tooltipDept:hover:after{
  position: absolute;
  bottom: -100px;
  -webkit-justify-content: center;
  justify-content: center;
  background: #484848;
  border-radius: 8px;
  color: #fff;
  content: "In the unlikely event you can't find your department \A or title please send us an email to crew@getcrew.pro \A and we'll get this sorted for you straight away.";
  white-space: pre;
  margin: -82px auto 0;
  font-size: 16px;
  padding: 13px;
  width: 420px;
}

.list-container {
  display: flex;
  font-size: 18px;
  background-color: #eee;
  flex-direction: column;
}
.item-container {
  background-color: #fff;
  border: 1px solid black;
  padding: 25px 70px;
  margin: 15px 50px;
}


.firebaseui-idp-button { 
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  background: #03ABEB!important;
  border-radius: 5px!important;
  @apply shadow-md;
  span {
    color: #fff!important;
  }
  .firebaseui-idp-icon-wrapper {
    color: #03ABEB!important;
  }
}

.firebaseui-id-submit {
  background: #03ABEB!important;
  color: #fff!important;
}

.firebaseui-id-secondary-link {
  color: #03ABEB!important;
}

.firebaseui-textfield {
  border-color: #03ABEB!important;
}


.filterByList {
  li {
    @apply bg-white  border-wearecrewBlueNew rounded text-center;
  }
}


.aboutPage {
  color: #484848;

  .aboutPageListTicks {
    list-style: none;
  
    li {
      margin-bottom: 20px;
      display: flex;
    }
    li:before {
      content: '✓';
      margin-right: 10px;
      color: #03ABEB;
    }
  }
  .aboutPageListX {
    list-style: none;
  
    li {
      margin-bottom: 20px;
      display: flex;
    }
    li:before {
      content: '✘';
      margin-right: 10px;
      color: #D50000;
    }
  }
  .aboutPageListNumbers {
    list-style: none;
  
    li {
      margin-bottom: 20px;
      display: flex;

      h1 {
        margin-right: 10px;
      }
    }

  }
}

/*CHECK MARK CONFIRMED*/
.authentication-container {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 30px auto;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}




// .accordion-wrapper {
//   & + * {
//     margin-top: 0.5em;
//   }
// }

.accordion-item {
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
  // height: auto;
  max-height: 9999px;
}

.accordion-item.collapsed {
  max-height: 0;
  transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}

.accordion-title {
  cursor: pointer;
  color: #484848;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid currentColor;
  }

  &:hover {
    @apply transform scale-102;
  }

  &:hover,
  &.open {
    // color: #03ABEB;
    @apply transition;
  }

  &.open {
    @apply transform scale-100;
    &::after {
      content: "";
      border-top: 0;
      border-bottom: 5px solid;
    }
  }
}

.accordion-content {
  // @apply p-4;
}

.scroll-prompt {
	position: absolute;
	z-index: 998;
	bottom: -60px;
	left: 50%;
	margin-left: -80px;
	width: 160px;
	height: 160px;

	.scroll-prompt-arrow-container {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -18px;
		animation-name: bounce;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}
	.scroll-prompt-arrow {
		animation-name: opacity;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}
	.scroll-prompt-arrow:last-child {
		animation-direction: reverse;
		margin-top: -6px;
	}
	.scroll-prompt-arrow > div {
		width: 36px;
		height: 36px;
		border-right: 8px solid #03ABEB;
		border-bottom: 8px solid #03ABEB;
		transform: rotate(45deg) translateZ(1px);
	}
}

@keyframes opacity {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 0.1;
	}

	20% {
		opacity: 0.2;
	}

	30% {
		opacity: 0.3;
	}

	40% {
		opacity: 0.4;
	}

	50% {
		opacity: 0.5;
	}

	60% {
		opacity: 0.6;
	}

	70% {
		opacity: 0.7;
	}

	80% {
		opacity: 0.8;
	}

	90% {
		opacity: 0.9;
	}

	100% {
		opacity: 1;
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	10% {
		transform: translateY(3px);
	}

	20% {
		transform: translateY(6px);
	}

	30% {
		transform: translateY(9px);
	}

	40% {
		transform: translateY(12px);
	}

	50% {
		transform: translateY(15px);
	}

	60% {
		transform: translateY(18px);
	}

	70% {
		transform: translateY(21px);
	}

	80% {
		transform: translateY(24px);
	}

	90% {
		transform: translateY(27px);
	}

	100% {
		transform: translateY(30px);
	}
}

.neumorphBoxLg {
background: #F2F5F6;
-webkit-box-shadow: 12px 12px 24px #ced0d1, -12px -12px 24px #ffffff;
box-shadow: 12px 12px 24px #ced0d1, -12px -12px 24px #ffffff;
}

.neumorphBoxMd {
background: #F2F5F6;
-webkit-box-shadow: 8px 8px 16px #ced0d1, -8px -8px 16px #ffffff;
box-shadow: 8px 8px 16px #ced0d1, -8px -8px 16px #ffffff;
}

.neumorphBoxSm {
background: #F2F5F6;
-webkit-box-shadow: 3px 4px 6px #ced0d1, -3px -4px 12px #ffffff;
box-shadow: 3px 4px 6px #ced0d1, -3px -4px 12px #ffffff;
}

.listDividerLines:not(:last-child):after {
  content: "   -";
  @apply text-wearecrewBlue hidden md:inline-block;
}











